@font-face{
	font-family: SF-Pro-Text-Bold;
	src: url("SF-Pro/SF-Pro-Text-Bold.otf");
}

@font-face{
	font-family: SF-Pro-Text-Light;
	src: url("SF-Pro/SF-Pro-Text-Light.otf");
}

@font-face{
	font-family: SF-Pro-Text-Medium;
	src: url("SF-Pro/SF-Pro-Text-Medium.otf");
}

.nav-item{
	
}

.flex-container {
	display:flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;	

}

.flex-elem {
	width: 49%;
	height: 25vw;
	background-color: rgba(215,215,215, 1);
	margin: 5px 5px 5px 5px;
	z-index: 0;

	position: relative;

	top: 100px;

}

.head {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	


	text-align: center;
	font-family: Arial;
	font-size: 20pt;
	color: rgba(255,255,255,1);
	vertical-align: middle;
	line-height: 100px;
}

.head-flex {
	text-align: center;
	font-family: Arial;
	font-size: 14pt;
	color: rgba(255,255,255,1);
	vertical-align: middle;
	line-height: 100px;
	font-weight: 500;

	width: 20%;

}




.head-main{
	text-align: center;
	font-family: Arial;
	font-size: 20pt;
	color: rgba(255,255,255,1);
	vertical-align: middle;
	line-height: 100px;

	width: 20%;
}

.main{
	width: 100%;
	height: 100%;
	background-color: rgba(240, 240, 240, 1);
	margin: 5px 5px 5px 5px;
	justify-content: center;
	z-index: 0;


	position: relative;
	top: 100px;
}


.bottom{
	width: 100%;
	height: 10vw;
	background-color: black;

	position: relative;
	top: 100px;

}


.icon{
	width: 20%;
	height: auto;

	position:relative;
	top: 15px;

}


.nav-desc{
	font-family: SF-Pro-Text-Light;
	line-height: 30px;
}

#desc-text{
	font-family: SF-Pro-Text-Medium;
	font-size: 42pt;
	text-align: center;
	padding-top: 15%;
}

.img {
    width: 100%;
    height: auto;
}

#melee-text{
	font-style: italic;
	font-family: "SF-Pro-Text-Light";
	font-size: 20pt;
	text-align: center;
	line-height: 40px;
}

#godBless{
	font-family: "SF-Pro-Text-Bold";
	font-size: 20pt;
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 481px) and (max-width: 960px) {

	.nav-desc{
		line-height: 20px;
		font-size: 15px;
	}

	.flex-elem{
		width: 70%;
		height: 25vw;
	}

	#desc-text{
		font-size: 30pt;
	}

	


}


@media only screen and (max-width: 480px) {
	.main{
		width: 98vw;
		height: 100%;
	}

	#melee-text{
		font-size: 15pt;
	}

	#desc-text{
		font-size: 20px;
	}
	.head {
		height: 90px;

	}
	.flex-elem {
		width: 37vw;
		height: 37vw;
		float: left;
	}

	.nav-desc{
		line-height: 3px;
		visibility: hidden;
	}
	.head-main{
		line-height: 20px;
	}
	
	.icon{
		width: 60%;
		height: auto;
	}

	.head-flex{
		visibility: hidden;
	}


	#right-main{
		height: 0px;
		visibility: hidden;
	}

	#left-main{
		height: 90vw;
	}



	
}



  	
